# Project exclude paths
/01_Encapsulacion/bin/
/01_Interfaces/bin/
/02_Clase_anonima/bin/
/02_Herencia/bin/
/03_Comparable_Comparator/bin/
/03_HolaMundo/bin/
/03_Polimorfismo/bin/
/04_HerenciaObject/bin/
/05_Static/bin/
/05_Variables/bin/
/06_SingletonInmutable/bin/
/06_TiposDatos/bin/
/07_Abstract/bin/
/07_Decision/bin/
/08_Final/bin/
/08_Repeticion/bin/
/08bis_Calculadora/bin/
/09_Internas/bin/
/09_OrientacionObjetos/bin/
/10_Constructores/bin/
/10_Enumeraciones/bin/
/11_Genericas/bin/
/11_JPA/build/classes/
/11_PropiedadesMetodos/bin/
/12_Colecciones/bin/
/13_ClasesEnvoltorio/bin/
/13_ComparableComparator/bin/
/13_JPA/build/classes/
/14_InterfacesFuncionales/bin/
/15_PredicateConsumerFunctionSupplier/bin/
/15_String/bin/
/16_ApiStream/bin/
/16_Arrays/bin/
/16bis_HundirFlota/bin/
/17_ArgumentosTiposRetorno/bin/
/17_Busqueda/bin/
/18_DatosCalculoOrdenacion/bin/
/18_PasoPorValorOReferencia/bin/
/19_MapFlatMapCollector/bin/
/19_Modificadores/bin/
/20_Filter/bin/
/20_Static/bin/
/21_Referencias/bin/
/21_Sobrecarga/bin/
/22_Herencia/bin/
/22_ServicioMeteorologico/bin/
/23_FlujosSalida/bin/
/23_Polimorfismo/bin/
/24_FlujosEntrada/bin/
/24_Super/bin/
/25_ClaseFile/bin/
/25_Interfaces/bin/
/25b_ClasesAbstractas/bin/
/26_Excepciones/bin/
/26_Path/bin/
/27_Files/bin/
/27_TratamientoExcepciones/bin/
/28_NIO2ApiStream/bin/
/28bis_ServicioMeteorologico2/bin/
/29_Lanzamiento/bin/
/30_StringBuilder/bin/
/30_Thread/bin/
/31_Fechas/bin/
/31_Runnable/bin/
/31b_Callable/bin/
/32_Arraylist/bin/
/32_Sincronizacion/bin/
/33_ColeccionesConcurrentes/bin/
/33_Lambda/bin/
/34_Conexion/bin/
/35_Consultas/bin/
/36_RowSet/bin/
/A_Lambda/bin/
/B_Fechas/bin/
/Final_Parking/bin/